.stats{

    display: flex;
    justify-content: center;
    gap: 40px;

    padding: 60px 20px;

    background-color: #f8fafc;

}

.stat-card{

    width: 220px;

    text-align: center;

    padding: 30px;

    background-color: white;

    border-radius: 12px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.08);

    transition: 0.3s;

}

.stat-card:hover{

    transform: translateY(-5px);

}

.stat-card h2{

    color: #2563eb;

    font-size: 36px;

    margin-bottom: 10px;

}

.stat-card p{

    color: #555;

    font-size: 18px;

}